.projects {
  display: block;
  padding: 10px;
  overflow: auto;

  > h1 {
    margin-bottom: 30px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > img {
      height: 140px;
      object-fit: contain;
    }

    > p {
      font-size: 42px;
    }

    /*flex-wrap: wrap;
    gap: 30px;
    justify-content: center;*/

    .container__card {
      height: 300px;
      width: 280px;
      border-radius: 8px;
      border: 1px solid var(--cyan);
      padding: 5px;

      > div {
        display: flex;
        justify-content: center;
        padding-bottom: 30px;

        > img {
          width: 270px;
          object-fit: contain;
        }
      }

      > p {
      }
    }
  }
}

@media screen and(min-width:1024px) {
  .projects {
    > h1 {
      margin-bottom: 40px;
    }

    &__container {
      .container__card {
        height: 350px;
        width: 300px;

        > div {
          > img {
            width: 295px;
          }
        }

        > p {
          font-size: 19px;
          letter-spacing: 1px;
        }
      }
    }
  }
}
