.projects {
  display: block;
  padding: 10px;
  overflow: auto;

  > h1 {
    margin-bottom: 30px;
  }

  &__container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;

    .container__card {
      height: auto;
      width: 300px;
      border-radius: 8px;
      border: 1px solid var(--cyan);
      box-shadow: 0 0 5px 0px var(--cyan);
      padding-bottom: 10px;

      > figure {
        display: flex;
        justify-content: center;
        padding-bottom: 20px;

        > img {
          width: 298px;
          object-fit: contain;
          border-radius: 8px 8px 0 0;
        }
      }

      > h3 {
        color: var(--gray-50);
        font-size: clamp(1.2em, 1.2em + 1vw, 1.5em);
        text-align: center;
      }

      > p {
        margin: 15px 10px 0;
        font-size: clamp(0.7em, 0.7em + 1vw, 1em);
        letter-spacing: 1px;
        line-height: 22px;

        > span {
          font-size: clamp(0.8em, 0.8em + 1vw, 1em);
          font-weight: 700;
        }
      }

      > span {
        display: flex;
        gap: 15px;
        justify-content: center;
        padding-top: 25px;

        svg {
          height: 30px;
          color: var(--cyan);
        }
      }
    }
  }
}
