.skills {
  display: grid;
  grid-column: 1fr;

  &__content {
    padding: 10px;

    > h1 {
      font-size: 32px;
      margin: 15px auto 20px;
    }

    > p {
      font-size: 18px;
      line-height: 22px;
      text-align: justify;
      word-break: keep-all;
      letter-spacing: 0.5px;
      hyphens: auto;
    }

    > p + p {
      margin-top: 1em;

      > a {
        color: var(--cyan);
        cursor: pointer;
      }
    }
  }

  &__foto {
    display: none;
  }

  &__circle-container {
    display: none;
  }
}

@media screen and (min-width: 375px) {
  .skills {
    &__content {
      > h1 {
        font-size: 35px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .skills {
    display: grid;
    grid-template-columns: 2fr 1fr;

    &__content {
      width: 100%;
      padding: 10px;
      letter-spacing: 1px;

      > h1 {
        font-size: 42px;
        line-height: 24px;
        margin: 15px auto 40px;
      }

      > P {
        font-size: 20px;
        line-height: 24px;
        text-align: justify;
        word-break: keep-all;
        letter-spacing: 0.5px;
        hyphens: auto;
      }
    }

    &__container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: max-content;
      margin: 0 auto;

      .skills__circle-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 140px;
        height: 140px;
        top: 0;
        right: 0;
        border-radius: 50%;
        transform-origin: 50% 50%;
        animation: circle 20s ease-in-out infinite;
        box-shadow: 0 0 25px 0px var(--cyan);

        svg {
          height: 35px;
        }

        .img-html {
          position: absolute;
          top: -22%;
          bottom: 0px;
        }

        .img-css {
          position: absolute;
          left: -22%;
        }

        .img-react {
          position: absolute;
          bottom: -23%;
        }

        .img-js {
          position: absolute;
          right: -21%;
        }

        .img-node {
          position: absolute;
          right: -19%;
          top: 4%;
        }

        .img-git {
          position: absolute;
          left: -8%;
          top: 4%;
        }

        .img-ts {
          position: absolute;
          left: -14%;
          bottom: -4%;
          color: #28a4d9;
        }

        .img-next {
          position: absolute;
          right: -26%;
          bottom: -4%;
          color: var(--gray-50);
        }
      }

      .skills__foto {
        display: block;
        position: absolute;
        width: 125px;
        object-fit: contain;
        border-radius: 50%;
        box-shadow: 0 0 20px 0px var(--gray-50);
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .skills {
    grid-template-columns: 2fr 1fr;

    &__content {
      > h1 {
        font-size: 55px;
      }

      > P {
        font-size: 23px;
        line-height: 28px;
      }
    }

    &__container {
      .skills__circle-container {
        width: 165px;
        height: 165px;

        svg {
          height: 37px;
        }
      }

      .skills__foto {
        width: 150px;
        object-fit: contain;
        border-radius: 50%;
        box-shadow: 0 0 20px 0px var(--gray-50);
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .skills {
    &__container {
      .skills__circle-container {
        width: 190px;
        height: 190px;

        svg {
          height: 44px;
        }
      }
      .skills__foto {
        width: 175px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .skills {
    &__content {
      > h1 {
        font-size: 72px;
      }
    }

    &__container {
      .skills__circle-container {
        width: 250px;
        height: 250px;

        svg {
          height: 57px;
        }
      }

      .skills__foto {
        width: 235px;
        object-fit: contain;
        border-radius: 50%;
        box-shadow: 0 0 20px 0px var(--gray-50);
      }
    }
  }
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
